html {}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    margin-left: 60px;
    margin-right: 60px;
}


/****************HEADER****************/


/*                LOGO                */

#logo {
    display: flex;
}

#logo img {
    height: 60px;
    margin: 55px;
}


/*                MENU                */

nav {
    margin-right: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {}

nav a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

li span {
    display: block;
    width: 200px;
    line-height: 150px;
    border-top: 3px solid white;
    color: black;
}

li span:hover {
    border-top: 3px solid blue;
    color: blue;
}


/*            VU TABLETTE HEADER                */

@media all and (min-width: 768px) and (max-width: 991px) {
    header {
        border-bottom: 1px #F2F2F2 solid;
    }
    nav span:hover {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    nav span {
        height: 100px;
        line-height: 100px;
    }
}


/*            VU MOBILE HEADER                 */

@media (max-width: 767px) {
    header {
        flex-direction: column;
        width: 100%;
    }
    header div img {
        height: 50px;
        margin: 0px auto;
        padding-top: 5px;
        padding-bottom: 0px;
    }
    main {
        margin-left: 0px;
        margin-right: 0px;
    }
    #logo {
        justify-content: center;
    }
    #logo img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav {
        display: flex;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    nav ul {
        width: 100%;
        text-align: center;
    }
    nav li:nth-child(1) {
        flex-basis: 50%;
    }
    nav li:nth-child(2) {
        flex-basis: 50%;
    }
    nav li {
        flex: auto;
        margin: 0;
        height: 65px;
        text-align: center;
        line-height: 20px;
        justify-content: center;
        border-bottom: 3px #F2F2F2 solid;
    }
    nav span {
        display: block;
        width: 100%;
        line-height: 62px;
        border-top: 3px solid white;
        color: black;
    }
    nav a {
        color: blue;
        font-size: 17px;
        text-decoration: none;
        text-align: center;
    }
    nav li:hover span {
        border-top: none;
        color: #0065FC;
    }
    nav li:hover {
        border-bottom: 3px #0065FC solid;
    }
}


/**************RECHERCHE***************/


/*             STRUCTURE              */

#recherche {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
}

#formulaire-recherche div {
    display: flex;
}


/*             TITRE ET SOUS TITRE              */

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    margin-top: 30px;
}


/*             ICONE POSITION            */

.icone {
    background-color: #F2F2F2;
    color: #000000;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}


/*             BARRE DE RECHERCHE            */

.recherche-form {
    border: 1px solid #F2F2F2;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 200px;
    outline-color: #deebff;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#style-recherche-mobile {
    width: 200px;
}


/*             BOUTON DE VALIDATION            */

.buttom-bureau {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    margin: 0px 0px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.buttom-bureau:hover {
    background-color: #deebff;
    color: #0065FC;
}

.buttom-mobile {
    display: none;
    background-color: #0065FC;
    color: white;
    border-radius: 32%;
    border-style: none;
    width: 55px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}


/*            VU RECHERCHE TABLETTE                */

@media all and (min-width: 768px) and (max-width: 991px) {}


/*            VU RECHERCHE MOBILE            */

@media (max-width: 767px) {
    #recherche {
        margin-left: 20px;
        margin-right: 20px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    .buttom-bureau {
        display: none;
    }
    .buttom-mobile {
        display: block;
    }
    #style-recherche-mobile {
        width: 100%;
    }
    .recherche-form {
        width: 110%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
    }
    .icone {
        width: 55px;
        height: 55px;
        font-size: 20px;
        line-height: 53px;
        border-top-left-radius: 33%;
        border-bottom-left-radius: 33%;
    }
}


/****************FILTRE****************/


/*            STRUCTURE            */

#filtre {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#filtre-titre-bouttons {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtre-bouttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.filtre-information {
    display: flex;
    margin-left: 12px;
}


/*            TITRE FILTRE            */

h3 {
    color: black;
    font-size: 23px;
    font-weight: bold;
    margin-right: 20px;
    padding-top: 30px;
}


/*            BOUTON FILTRE            */

.boutton {
    align-items: center;
    margin-top: 25px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 0px;
    height: 50px;
    border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    border-radius: 47px;
    cursor: pointer;
    background-color: white;
}

.boutton_icon {
    display: inline-block;
    background-color: #deebff;
    color: #0065FC;
    font-size: 18px;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: 45px;
    margin-block: -1px;
}

.boutton_text {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
    padding-top: 8px;
    padding-left: 5px;
    color: black;
}

.boutton:hover {
    background-color: #256efe;
}

.boutton:hover .boutton_text {
    color: white;
}


/*            INFORMATION FILTRE            */

.filtre-information-icone {
    background-color: #deebff;
    color: #005fcc;
    border-radius: 50%;
    width: 42px;
    height: 41px;
    text-align: center;
    line-height: 51px;
    display: inline-block;
}

#filtre-information-texte {
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    margin-top: 8px;
    margin-left: 8px;
}

.cercle-icone-information {
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px;
    border: 2px solid #F2F2F2;
}

.fa-info {
    color: #005fcc;
}


/*            VU FILTRE TABLETTE                */

@media all and (min-width: 768px) and (max-width: 991px) {}


/*           VU FILTRE MOBILE            */

@media (max-width: 767px) {
    #filtre {
        margin-left: 0px;
        margin-right: 0px;
    }
    #filtre-titre>h3 {
        padding-top: 15px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    #filtre-bouttons {
        justify-content: space-between;
    }
    #filtre-titre-bouttons {
        margin-left: 22px;
        margin-right: 22px;
    }
    .boutton {
        margin-top: 13px;
        padding-right: 25px;
        height: 55px;
        margin-right: 0px;
    }
    .boutton_text {
        font-size: 17px;
    }
    .boutton_icon {
        font-size: 19px;
        width: 51px;
        height: 51px;
        line-height: 52px;
    }
    .filtre-information {
        margin-left: 20px;
        margin-top: 34px;
        margin-bottom: 35px;
    }
    .cercle-icone-information {
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 22px;
    }
    #filtre-information-texte {
        font-size: 17px;
        margin-left: 15px;
    }
}


/****************HEBERGEMENT ET POPULAIRE****************/


/*            STRUCTURE GENERAL            */

#conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


/*            STRUCTURE HEBERGEMENT            */

#hebergements {
    display: flex;
    flex-direction: column;
    width: 68%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#hebergements>.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}


/*            STRUCTURE POPULAIRE            */

aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 25px;
}

#populaire .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    align-items: center;
}


/*            STRUCTURE ARTICLES HEBERGEMENT            */

#hebergements>.section>.article {
    margin-top: 20px;
    background-color: white;
    height: fit-content;
    padding-bottom: 10px;
    width: 29%;
    border-radius: 25px;
}


/*            STRUCTURE ARTICLES POPULAIRE            */

#populaire .section .article {
    width: 90%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: white;
}

.populaire-etiquette {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.article:hover {
    box-shadow: inset 0 0 6px #b0b0b0, 0 0 20px #999999;
    cursor: pointer;
}


/*         FORMATAGE DU TEXTE               */

#hebergements>h3 {
    margin-left: 30px;
}

#populaire>h3 {
    display: flex;
    margin-left: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
}

#hebergements>h3 #populaire>h3 {
    font-size: 15px;
    font-weight: bold;
}

#hebergements>p>a {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    margin: 0px;
}

.nom-populaire,
.nom-hebergement,
.prix-hebergement>span,
.prix-populaire>span {
    font-weight: bold;
}

.nom-populaire {
    font-size: 12px;
    padding-top: 12px;
    margin: 0px;
    padding-left: 12px;
}

.prix-populaire {
    font-size: 12px;
    padding-top: 6px;
    margin: 0px;
    padding-left: 12px;
}

.prix-hebergement,
.nom-hebergement {
    font-size: 12px;
    padding-top: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 20px;
}


/*           FORMATAGE DES ETOILES       */

.etoiles {
    color: #F2F2F2;
    padding-top: 10px;
    margin: 0;
    margin-left: 20px;
    font-size: 9px;
}

.alignement-etoiles {
    align-items: end;
    width: 70%;
}

.populaire-conteneur-texte>.etoiles {
    padding-top: 10px;
}

.checked {
    color: #0065FC;
}

.article:hover .checked {
    color: rgba(255, 208, 0, 0.949);
}


/*       FORMATAGE DES IMAGES     */


/*       HEBERGEMENTS     */

.hebergement-image {
    width: 96%;
    height: 100px;
    background-size: cover!important;
    background-position: center;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
    background-attachment: local;
}


/*       POPULAIRE     */

.populaire-conteneur-image {
    width: 48%;
    height: 147px;
}

.populaire-conteneur-texte {
    width: 75%;
    height: 90px;
}

.populaire-image {
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 25px 0px 0px 25px;
    margin: 5px;
    background-attachment: scroll;
}


/*       LIEN HEBERGEMENT SAVOIR PLUS       */

#hebergements>p>a {
    text-decoration: none;
    color: black;
}

#hebergements>p {
    margin-top: 20px;
    margin-left: 40px;
}


/*            VU HERBGEMENT ET POPULAIRE TABLETTE                */

@media all and (min-width: 768px) and (max-width: 991px) {}


/*       VU HEBERGEMENT ET POPULAIRE MOBILE       */

@media (max-width: 767px) {
    #conteneur {
        flex-direction: column-reverse;
    }
    #hebergements {
        width: 100%;
        padding-bottom: 25px;
        background-color: white;
    }
    aside {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 12px;
        padding-bottom: 29px;
    }
    #hebergements>h3 {
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 4px;
    }
    #hebergements>.section {
        align-items: center;
        flex-direction: column;
        margin-bottom: 0px;
    }
    #hebergements>.section>.article {
        width: 90%;
        box-shadow: inset 0 0 2px #d3d3d3, 0 0 10px #d3d3d3;
    }
    #populaire>h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #populaire .section>.article {
        padding-bottom: 0px;
        margin-bottom: 10px;
        box-shadow: inset 0 0 2px #d3d3d3, 0 0 10px #d3d3d3;
    }
    #hebergements>p {
        margin: 0;
        margin-left: 20px;
        margin-top: 30px;
    }
    .hebergement-image {
        width: 97%;
        height: 118px;
        background-size: 344px;
        background-position: center;
        border-radius: 25px 25px 0px 0px;
        margin: 5px;
        background-attachment: local;
    }
    .populaire-image {
        width: 137px;
        height: 137px;
    }
    .taille-image-haut {
        background-size: 233px;
    }
    .taille-image-milieu {
        background-size: 209px;
    }
    .taille-image-bas {
        background-size: 149px;
    }
    #hebergements>p>a {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        margin: 0px;
    }
    .prix-populaire {
        font-size: 15px;
        padding-top: 6px;
        margin: 0px;
    }
    .nom-hebergement {
        font-size: 17px;
        margin: 0px;
        padding: 0px;
        padding-top: 4px;
        margin-left: 18px;
    }
    .prix-hebergement {
        font-size: 15px;
        margin: 0px;
        padding: 0px;
        padding-top: 4px;
        margin-left: 18px;
    }
    .etoiles {
        margin-left: 17px;
        padding-top: 7px;
        font-size: 12px;
    }
    .prix-populaire {
        font-size: 14px;
        margin-top: 0px;
        margin-left: 6px;
    }
    .nom-populaire {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 6px;
        padding-bottom: 0px;
    }
}


/****************ACTIVITES****************/


/*            STRUCTURE GENERAL            */

#conteneur-activites {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

#contenue-activites {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.section-activites {
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-between;
}

.card-simple {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    width: 100%;
}

.card-double {
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-items: baseline;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}


/*            TITRE            */

#conteneur-activites>h3 {
    margin-left: 30px;
    padding-top: 0px;
    margin-bottom: 25px;
}


/*            SECTION ET ARTICLE            */

#contenue-activites>.section {
    margin: 0px;
    padding: 0px;
}

.section-activites>.article {
    height: auto;
    margin-left: 0px;
    width: 100%;
    border-radius: 25px;
    box-shadow: inset 0 0 1px #b0b0b0, 0 0 7px#999999;
}

.section-activites>.article:hover {
    box-shadow: inset 0 0 6px #b0b0b0, 0 0 20px #999999;
    cursor: pointer;
}


/*            TEXTE FIN DE CARDS            */

.texte-activites {
    display: block;
    padding: 20px 20px;
    border: 1px solid #f2f2f2;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}


/*            FORMATAGE DES IMAGES            */

.background-size-simple-gauche-haut {
    background-position: 53% 38%;
    height: 215px;
}

.background-size-simple-gauche-bas {
    background-position: 50% 13%;
    height: 136px;
}

.background-size-simple-droite-haut {
    background-position: 50% 0%;
    height: 161px;
}

.background-size-simple-droite-bas {
    background-position: 50% 0%;
    height: 187px;
}

.background-size-double-premiere {
    background-position: 50% 0%;
    background-size: 700px;
    height: 430px;
}

.background-size-double-seconde {
    background-position: 53% 0%;
    background-size: 700px;
    height: 430px;
}


/*            VU ACTIVITES TABLETTE                */

@media all and (min-width: 768px) and (max-width: 991px) {}


/*           VU ACTIVITES MOBILE           */

@media (max-width: 767px) {
    #conteneur-activites>h3 {
        padding-top: 4px;
        margin-bottom: 37px;
    }
    #contenue-activites {
        flex-direction: column;
        align-items: center;
    }
    .section-activites {
        width: 87%;
    }
    .section-activites>.article {
        margin-bottom: 20px;
    }
    .background-size-simple-gauche-haut {
        background-position: 40% 45%;
        height: 120px;
        background-size: 100%;
    }
    .background-size-simple-gauche-bas {
        background-position: 40% 32%;
        height: 120px;
        background-size: 100%;
    }
    .background-size-simple-droite-haut {
        background-position: 40% 26%;
        height: 120px;
        background-size: 100%;
    }
    .background-size-simple-droite-bas {
        background-position: 40% 32%;
        height: 120px;
        background-size: 100%;
    }
    .background-size-double-premiere {
        background-position: 40% 24%;
        height: 133px;
        background-size: 100%;
    }
    .background-size-double-seconde {
        background-position: 40% 32%;
        height: 120px;
        background-size: 100%;
        filter: brightness(1.2);
    }
    .texte-activites {
        font-size: 16px;
    }
}


/****************FOOTER****************/


/*            STRUCTURE GENERAL            */

footer {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

footer>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/*            TITRES            */

footer h3 {
    padding-left: 40px;
    font-size: 20px;
}


/*            LISTES            */

.premiere-etiquette {
    margin: 10px;
    margin-left: 10px;
    width: 27%;
    font-size: 15px;
}

.autres-etiquettes {
    margin: 10px;
    width: 27%;
    font-size: 15px;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-top: 10px;
}


/*            LIENS            */

footer li>a {
    text-decoration: none;
    color: black;
}

footer li:hover {
    color: #0065FC;
}


/*            VU FOOTER TABLETTE                */

@media all and (min-width: 768px) and (max-width: 991px) {}


/*            VU FOOTER MOBILE            */

@media (max-width: 767px) {
    footer>div {
        flex-direction: column;
        padding-bottom: 35px;
    }
    .premiere-etiquette {
        margin: 0px;
        margin-left: 0px;
        width: 100%;
        margin-top: 12px;
    }
    .autres-etiquettes {
        margin: 0px;
        margin-top: 0px;
        width: 100%;
    }
    footer h3 {
        font-size: 20px;
    }
    footer li {
        font-size: 18px;
        cursor: pointer;
    }
    footer li:hover {
        color: #0065FC;
    }
}