/*  PAGE GENERAL */

html {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}


/****************HEADER****************/


/*             Structure              */

header div {
    display: flex;
    width: 100%;
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/*                Logo                */

header div img {
    height: 50px;
    margin: 30px;
    margin-bottom: 10px;
}


/*             Formulaire             */

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    text-align: center;
}

nav li {
    display: flex;
    list-style: none;
    line-height: 80px;
    width: 100px;
    justify-content: center;
}

nav li:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

.menu-selected {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

.menu-unselected {
    border-top: 3px #ffffff solid;
    color: #000000;
}


/*     HEADER Responsive Tablette     */


/*      HEADER Responsive Mobile      */


/**************RECHERCHE***************/


/*             Structure              */


/*                Titre               */


/*              Sous titre            */


/*             Formulaire             */


/*   RECHERCHE Responsive Tablette    */


/*    RECHERCHE Responsive Mobile     */


/****************FILTRE****************/


/*             Structure              */


/*                Titre               */


/*               Boutons              */


/*     FILTRE Responsive Tablette     */


/*      FILTRE Responsive Mobile      */