html {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

#d1 {
    display: flex;
    width: 100%;
    margin: 0;
}

#d1 img {
    height: 50px;
    margin: 30px;
    margin-bottom: 10px;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    text-align: center;
}

#menu li {
    display: flex;
    list-style: none;
    line-height: 80px;
    width: 100px;
    justify-content: center;
}

.menu-selected {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

#menu li:hover {
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

.menu-unselected {
    border-top: 3px #ffffff solid;
    color: #000000;
}

section#recherche {
    display: flex;
    flex-direction: row;
}

.recherche h1 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.recherche {
    margin: 10px;
    margin-left: 30px;
}

p.texte-xs {
    font-size: small;
    margin: 0;
    margin-top: 8px;
}

#form {
    margin-bottom: 30px;
    margin-top: 10px;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

#icone {
    position: absolute;
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#icone i {
    border: 1;
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 10px;
}

#champ-recherche {
    display: flex;
}

.texte {
    margin-left: 40px;
    margin-top: 0px;
    height: 34px;
    width: 200px;
    padding-left: 10px;
    border-width: 1px;
    border-style: inset;
    border-color: #F2F2F2;
    font-size: medium;
    font-weight: bold;
}

#buttom {
    display: flex;
}

.beauty-buttom {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    margin: 0px -15px;
    cursor: pointer;
    width: 100px;
    font-size: small;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#iconemasque {
    visibility: hidden;
}


/*
    .beauty-buttom:hover {
        background-color: #7cb0ff;
    }*/

@media all and (min-width: 768px) and (max-width: 991px) {
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #menu li {
        line-height: 100px;
        width: 200px;
    }
    .recherche h1 {
        font-size: 21px;
    }
}

@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #d1 img {
        height: 50px;
        margin: 0px auto;
        padding-top: 15px;
        padding-bottom: 0px;
    }
    #menu {
        display: flex;
    }
    #menu ul {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #menu li {
        flex: auto;
        margin: 0;
        text-align: center;
        line-height: 35px;
        justify-content: center;
    }
    #menu li:hover {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    .menu-selected {
        border-top: none;
        border-bottom: 3px #0065FC solid;
        color: #0065FC;
    }
    .menu-unselected {
        border-top: none;
        border-bottom: 3px #F2F2F2 solid;
        color: #000000;
    }
    .recherche {
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .recherche h1 {
        font-weight: bolder;
        font-size: 23px;
    }
    .texte {
        width: 260px;
    }
    .beauty-buttom {
        width: 40px;
        color: #0065FC;
    }
    #iconemasque {
        visibility: visible;
    }
    #buttom {
        visibility: hidden;
    }
    .styled {
        border: 0;
        padding: 11px 11px;
        margin-left: -30px;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: #0065FC;
    }
    .styled:hover {
        background-color: #3888ff;
    }
}